body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-again-container {
    display: none;
    flex-direction: column;
    align-items: center;
}

.button-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

#player-move, #opponent-move {
    display: none;
}